carpeta-prueba/



Sistema Levitador Magnético/.obsidian/workspace.json
Sistema Levitador Magnético/.obsidian/workspace-mobile.json
Sistema Levitador Magnético/.obsidian/plugins/obsidian-git/data.json
